<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--




-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>d2tv</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/team.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="#">D2TV</a></h1>

            </div>
            <!-- end div#logo -->
        </div>
        <!-- end div#header -->
        <div id="menu">
            <ul>
                <li class="active"><a href="~/Home/GetNews">News</a></li>
                <li><a href="~/Home/Ranking">Ranking</a></li>
                <li><a href="~/Account/Login">Sign IN</a></li>
                <li><a href="~/Home/AddNew"> Add New</a></li>
            </ul>
        </div>
        <!-- end div#menu -->
        <div id="page">
            <div id="page-bgtop">
                <div id="content">

                   
                        <div class="team">


                            <div class="players">

                                @foreach (var player in ViewBag.Players)
                                {
                                    if (player.TeamId == @ViewBag.Teams.Id)
                                    {
                                        <div class="player">
                                            <img class="playerImg" src="@player.AvatarUrl" alt="" />
                                            <a href="~/Home/GetDetailPlayer/@player.Id"> @player.GameName</a>;
                                        </div>
                                    }
                                }


                            </div>
                        </div>
                        <div class="post">
                            <img class="teamImg" src="@ViewBag.Teams.LogoUrl" />
                            <h2 class="title">@ViewBag.Teams.Name</h2>
                        </div>

                        <p class="rating">Team rating: @ViewBag.Teams.Rating</p>
                        <p class="wins">Wins: @ViewBag.Teams.Wins</p>
                        <p class="losses">Losses: @ViewBag.Teams.Losses</p>

                    


                </div>

                <!-- end div#content -->
                <div id="sidebar">
                    <ul>
                        <li id="search">
                            <h2 class="search">Search</h2>
                            <form method="get" action="">
                                <fieldset>
                                    <input type="text" id="search-text" name="s" value="" />
                                    <input type="submit" id="search-submit" value="Search" />
                                </fieldset>
                            </form>
                        </li>
                        <li>
                            <h2 class="categories">Lorem Ipsum</h2>
                            <ul>
                                <li><a href="#">Fusce dui neque fringilla</a></li>
                                <li><a href="#">Eget tempor eget nonummy</a></li>
                                <li><a href="#">Magna lacus bibendum mauris</a></li>
                                <li><a href="#">Nec metus sed donec</a></li>
                                <li><a href="#">Magna lacus bibendum mauris</a></li>
                                <li><a href="#">Velit semper nisi molestie</a></li>
                                <li><a href="#">Eget tempor eget nonummy</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Volutpat Dolore</h2>
                            <ul>
                                <li><a href="#">Nec metus sed donec</a></li>
                                <li><a href="#">Magna lacus bibendum mauris</a></li>
                                <li><a href="#">Velit semper nisi molestie</a></li>
                                <li><a href="#">Eget tempor eget nonummy</a></li>
                                <li><a href="#">Nec metus sed donec</a></li>
                                <li><a href="#">Magna lacus bibendum mauris</a></li>
                                <li><a href="#">Velit semper nisi molestie</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Bebindum Mauris </h2>
                            <ul>
                                <li><a href="#">Nec metus sed donec</a></li>
                                <li><a href="#">Magna lacus bibendum mauris</a></li>
                                <li><a href="#">Velit semper nisi molestie</a></li>
                                <li><a href="#">Eget tempor eget nonummy</a></li>
                                <li><a href="#">Nec metus sed donec</a></li>
                                <li><a href="#">Velit semper nisi molestie</a></li>
                                <li><a href="#">Eget tempor eget nonummy</a></li>
                                <li><a href="#">Velit semper nisi molestie</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- end div#sidebar -->
                <div style="clear: both; height: 1px"></div>
            </div>
        </div>
        <!-- end div#page -->

    </div>
    <!-- end div#wrapper -->
</body>
</html>
